<div class="tradingview-widget-container">
    <div id="tradingview_41cdf"></div>
    <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.MediumWidget(
    {
    "symbols": [
      [
        "Apple",
        "AAPL|1D"
      ],
      [
        "Google",
        "GOOGL|1D"
      ],
      [
        "Microsoft",
        "MSFT|1D"
      ]
    ],
    "chartOnly": false,
    "width": 1000,
    "height": 500,
    "locale": "in",
    "colorTheme": "light",
    "autosize": false,
    "showVolume": false,
    "hideDateRanges": false,
    "scalePosition": "right",
    "scaleMode": "Normal",
    "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
    "noTimeScale": false,
    "valuesTracking": "1",
    "chartType": "line",
    "container_id": "tradingview_41cdf"
  }
    );
    </script>
  </div>
