/* Light Mode */
.rounded-light-navBar{
    background: #EC255A;
    border-radius: 28px;
    padding: 0px 14px;
    border: 1px solid #e8e8e8;
}

.rounded-light-containerBody {
	background: rgb(250, 250, 250);
    border-radius: 16px;
    border: 1px solid #e8e8e8;
}

.rounded-light-halfContainerBody {
    background: #ededed;
    border-radius: 16px;
}

.rounded-light-halfContainerBody2 {
	background: #ffffff;
    border-radius: 16px;
}

.rounded-light-halfButton2 {
	background: #ededed;
    border-radius: 16px;
}

.rounded-light-containerBody2 {
	background: #e8e8e8;
    border-radius: 16px;
}

.rounded-light-containerHeader {
	background: #ffffff;
    border-radius: 16px;
    border-bottom: 1px solid #e8e8e8;
}

.rounded-light-containerFooter {
	background: #ffffff;
    border-radius: 0 0 16px 16px;
}

.rounded-light-containerFooter2 {
	background: #ffffff;
    border-radius: 16px;
}

.rounded-light-secondaryButton {
	background: #EC255A;
    border-radius: 12px;
    color: white;
}

.rounded-light-secondaryButton:hover {
    background: #ff225d;
    border-radius: 12px;
}

.rounded-light-disabledSecondaryButton {
    background: #B11B43;
    border-radius: 12px;
}

.rounded-light-primaryButton {
    background: #FD5D5D;
    border-radius: 12px;
}

.rounded-light-primaryButton:hover {
    background: #ff5151;
    border-radius: 12px;
}

.rounded-light-disabledPrimaryButton {
    background: #BC3F3F;
    border-radius: 12px;
}

.rounded-light-outlinedButton {
    background: #ffffff;
    border-radius: 12px;
}

/* hover for outlined button */
.rounded-light-outlinedButton:hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

.rounded-light-outlinedBox {
    background: #ffffff;
    border-radius: 12px;
}

.rounded-light-iconButton {
    background: #e8e8e8;
    border-radius: 12px;
}

.rounded-light-iconButton:hover {
    background: rgba(52, 59, 72, 0.5);
    border-radius: 12px;
}

.rounded-light-errorButton {
    background: orange;
    /* border: 1px solid yellow; */
    border-radius: 12px;
}

.rounded-light-selectButton {
    background: #dddddd;
    border-radius: 12px;
}

.rounded-light-selectButton:hover {
    background: #d4d4d4;
    border-radius: 12px;
}

.rounded-light-primaryTabLeft {
	background: #d4d4d4;
	border-radius: 80px 0 0 80px;
}

.rounded-light-primaryTabLeftSelected {
	background: white;
	border-radius: 80px 0 0 80px;
}

.rounded-light-primaryTabRight {
	background: #d4d4d4;
	border-radius: 0 80px 80px 0;
}

.rounded-light-primaryTabRightSelected {
	background: white;
	border-radius: 0 80px 80px 0;
}

.rounded-light-secondaryTabLeft {
	background: #d4d4d4;
	border-radius: 80px 0 0 80px;
}

.rounded-light-secondaryTabLeftSelected {
	background: white;
	border-radius: 80px 0 0 80px;
}

.rounded-light-secondaryTabRight {
	background: #d4d4d4;
	border-radius: 0 80px 80px 0;
}

.rounded-light-secondaryTabRightSelected {
	background: white;
	border-radius: 0 80px 80px 0;
}
